.container {
	margin-left: 10%;
	margin-right: 10%;
	float: center;
}

body {
    background: #556;
}

header {
    padding-top: 5px;
}

section {
    font-size: 100%;
    background: #ccd;
	text-align: center;
}

section h1 {
    font-size: 200%;
}

a {
    color: #3cf;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

a img {
  padding: 1px;
  border-style: outset;
  border-color: #448;
  border-width: 2px;
}

nav {
    padding: 0 0.1em;
    white-space: nowrap;
}

.picset {
	padding-left: 15px;
	text-align: left;
}

.picset h1 {
	font-size: 250%;
}

.picset ul {
    margin: 15px;
    padding: 0;
	font-size: 120%;
}

.picset ul li {
    padding: 0.2em 0;
}

.picset ul li a {
    padding: 3px;
    font-weight: bold;
	color: #0c9;
}

.picset ul li a:visited {
    color: #09c;
}

.picset ul li a:hover {
    text-decoration: underline;
}

.sitenav {
	background-color: #eef;
	float: center;
	text-align: right;
    white-space: nowrap;
	font-size: 115%;
}

.sitenav img { 
	float: left;
	background: #fdd;
}

.sitenav ul {
    margin: 0;
    padding: 0;
}

.sitenav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em;
	background: #ddddff;
}

.sitenav ul li a {
    padding: 0 5px;
	color: green;
}

.sitenav ul li a:visited {
    color: blue;
}

.sitenav ul li a:hover {
    text-decoration: underline;
}

.caption {
	font-size: 120%;
	background: #eee;
	margin: 2px;
}

.counter {
	font-size: 80%;
	margin: 0;
}

.slideshow {
	padding-top: 10px;
}

/*  Round corners  */

.round {
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
}

.delete {
	padding-top: 5px;
}
