<table align="center">
<tr><td align="center"><h1>Picture Sets</h1></td></tr>
<tr><td align="left"><ul>
<% @setnames.each { |set| %>
<li> <%= link_to(set.setname, "/show/#{set.setname}/0") %></li>
<% } %>
</ul></td></tr>
<tr><td align="center"><%= link_to "( add new pic )", "/new" %></td></tr>
</table>