<div class="picset">
<h1>Picture Sets</h1>
  <ul>
  <% @setnames.each { |set| %>
  <li> <%= link_to_unless(set.setname.nil?, set.setname, "/show/#{set.setname}/0") %> </li>
  <% } %>
  </ul>
</div>