<table align="center">
<tr><td align="center" colspan="2"><h1>Add Image</h1></td></tr>
<% form_for(@pic,:url=>{:action=>'save'}) do |f| %>
<tr><td><b>Image URL</b></td><td><%= f.text_field :img_src %></td></tr>
<tr><td<b>Caption</b></td><td><%= f.text_field :caption %></td></tr>
<tr><td<b>Setname</b></td><td><%= f.text_field :setname %></td></tr>
<tr><td align="center" colspan="2"><%= f.submit "Save"%></td></tr>
<% end %>
