<%= periodically_call_remote :update => 'new_slide', 
                             :url => {:action => "new_slide", :setname => @slide_pic.setname},
                             :frequency => @slide_time %>
<h1 class="slideshow">Slideshow</h1>
<div id='new_slide'>
<%= image_tag @slide_pic.img_src, :height => @fit_height %>
</div>

<%= button_to("Stop slide show", {:action => :show, :setname => @slide_pic.setname}) %>
