<div class="sitenav">
  <ul>
    <li><%= link_to_unless is_active?("index"), "Home", "/" %></li>
    <li><%= link_to_unless is_active?("new"), "Add new image", "/new" %></li>
    <li><%= link_to_unless is_active?("getprefs"), "Preferences", "/pics/getprefs" %></li>
  </ul>
</div>
