<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/stylesheets' %>
    <title >Eggpix -- <%= @title %></title>
  </head>
  <body>
    <div class="container">
      <section class="round">
        <%= yield %>
      </section>
      <% debug(params) if !Rails.env.production? %>
    </div>
  </body>
</html>